<ng-container *ngIf="post; else cargando">
  <div class="post-card">
    <h3>{{ post.titulo }}</h3>
    <p class="price">${{ post.precio }}</p>
    <p class="status">{{ post.estado }}</p>
    <button
      *ngIf="post.estado === 'disponible'"
      class="buy-button"
      (click)="comprar(post)"
    >
      Comprar
    </button>
    <span *ngIf="post.estado !== 'disponible'" class="sold-badge">Vendido</span>
  </div>
</ng-container>

<ng-template #cargando>
  <div>Cargando post...</div>
</ng-template>
